*{
    box-sizing: border-box;
}

.container{
    height: 100vh;
    width: 100%;
}

body{
    background-color: antiquewhite;
}

.fondorojo{
    background-color: aqua;
}

.fondoslider{
    background-color: aquamarine;  
}

.altura1{
    height: 3rem;
}
.altura2{
    height: 20rem;
}
.fondoamarillo{
    background-color: yellow;
}
.fondoazul{
    background-color: rgb(69, 13, 236);
}
.fondorojo{
    background-color: red;
}

.altura3{
    height: 15rem;
}
.altura4{
    height: 15rem;
}
.altura5{
    height: 15rem;
}
.fondo2{
    background-color: azure;
}
.fondo1{
    background-color: rgb(42, 173, 64);
}
